### Pandas
    Pandas는 Panel Datas의 약자
    파이썬을 이용한 데이타 분석에서 가장 많이 사용되는 라이브러리
    Numpy기반으로 만들어졌다
    
    Padnas 자료구조
    1. Series - 1차원 배열(벡터)    
    2. DataFrame - 2차원 배열(메트릭스) 가장 중요(엑셀표 형식)    
    3. Panel - 3차원(대상아님)

### Series

### 1.시리즈 생성, 구조확인

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# Series?

In [3]:
ser = Series([1,2,3,4,5])
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [12]:
ser1 = Series([1,'2', 3.0, '네 번째', 5])#여러데이터 타입의 값들을 섞어서 입력
print(ser1)

# 가장 범위가 넓은 것은 string인데, pandas에서는 object라고 표기된다.
# 따라서, pandas에서 dtype : object라고 나오면, string(문자열)이라고 생각하면 된다.

print('=' * 40)
print(ser1[0])
print(ser1[3])

0       1
1       2
2     3.0
3    네 번째
4       5
dtype: object
========================================
1
네 번째

In [19]:
ser2 = Series(np.random.randint(10, 20, 5))
print(ser2.index) # RangeIndex(start=0, stop=5, step=1)는 range(0, 5, 1)과 똑같다고 보면 된다.
print(ser2.values)
print(ser2.dtype)
print(ser2)

RangeIndex(start=0, stop=5, step=1)
[19 15 14 10 14]
int32
0    19
1    15
2    14
3    10
4    14
dtype: int32

In [34]:
#인덱스를 명시적으로 지정할 수 있다.

ser2 = Series(np.random.randint(10, 20, 5), index = list('abcde'))
print(ser2.index) 
print(ser2.values)
print(ser2.dtype)
print(ser2)

print(ser1.shape)
# series는 1차원이기에 series의 shape은 데이터 사이즈와 같다.
print('\n','*'*40)
ser2 = Series(np.random.randint(10, 20, 5), index = list(range(1, 6)))
print(ser2)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
[10 10 18 19 10]
int32
a    10
b    10
c    18
d    19
e    10
dtype: int32
(5,)

 ****************************************
1    15
2    11
3    11
4    18
5    10
dtype: int32

### 2.시리즈 값 조회하기
    단일값을 선택하거나 여러값을 선택할때
    1)인덱스로 라벨을 사용할수 있다.
    
    2)슬라이싱 방법
        - 라벨사용 : 마지막 라벨 포함됨 ['a' : 'd']
        - 숫자사용 : 마지막 숫자 포함 안됨

### 3. 누락 데이타 조회하기

* isnull() 
* notnull()

### 4. Pandas를 이용한 시각화
#### 누락데이타가 아닌 데이타를 한눈에 보여준다